<% content_for(:title, "Deep Thoughts") %>
<% if current_user %>
  <p><%= link_to "Add a new Deep Thought", new_entry_path, class: "text-success btn btn-primary btn-xs" %></p>
<% end %>

<h4 class="handwritten">These are our thoughts so far...</h4>

<ul class="list-group">
  <% @entries.order(title: :asc).each do |entry| %>
    <li class="list-group-item">
      <h3><span class="handwritten"><%= link_to entry.title, entry_path(entry) %></span></h3>
      <sub><small>
        <p>Posted <%= time_ago_in_words(entry.created_at)%> ago by <%= entry.user.email %></p>
      </small></sub>
      <% if entry.user == current_user %>
        <sub><small>
          <p><%= link_to "Edit", edit_entry_path(entry) %></p>
          <p><%= link_to "Delete", entry_path(entry), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
        </small></sub>
      <% end%>
    </li>
  <% end %>

</ul>
