<% content_for(:title, @entry.title) %>

<%= link_to "Home", entries_path, class: "btn btn-primary" %>
<div class=page-header>
  <h1 class="text-success"><span class="handwritten"><%= @entry.title %><span></h1>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h3><span class="handwritten"><%= @entry.body %></span></h3>
  </div>
  <div class="col-sm-2"></div>
</div>
<hr>
<div id="comment_box">
<% if current_user %>
  <%= link_to("Add comment", new_entry_comment_path(@entry), class: "btn btn-primary", id: "new_comment_link", remote: true) %>
<% end %>
</div>
<hr>
<div id="comment_log">
  <% @entry.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
