<!DOCTYPE html>
<html>
  <head>
    <title>DeepThoughts</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand" href="/">Deep Thoughts</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li></li>
              <li></li>
              <li></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li></li>
              <li></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
